/* d9effc Color1(video) - 54a6b3 Color2(lyrics) - ad325f Color 3(Else) */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #d9effc;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .karaoke-box-logo {
    height: 23px;
  }
  
  .search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
  }

  .search-input {
    width: 90%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #ad325f;
    border-right: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .search-btn {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #ad325f;
    background-color: #54a6b3;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
  }


  .search-btn:hover {
    background-color: #ad325f;
  }
  
  .result{
    text-align: center;
    margin-top: 20px;
    position: relative;
    display: block;

}
.song-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-09% ,0)

}

.song-list li{
    margin-bottom: 20px;
    justify-content: space-evenly;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 18px;
    text-decoration: overline;
    text-decoration-color: rgb(12, 147, 100);
    position: relative;
    
}

.song-list li::after{
    content: "";
    bottom: -4px;
    height: 3px;
    background: rgb(12, 147, 100);
    display: inline-block;
}
.song-list li div{
    float: left;
}

.song-list li span{
    float: right;
    background-color: #9E2092;
    border: 0;
    font-size: 12px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    padding: 4px 10px;
    text-transform: capitalize;
}
  
  video {
    margin: 5% auto;
    width: 100%;
    background: #d9effc;
  }
  
