/* d9effc Color1(video) - 54a6b3 Color2(lyrics) - ad325f Color 3(Else) */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #d9effc;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .karooke-box-logo {
    height: 23px;
  }
  
  .search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
  }

  