/* d9effc Color1(video) - 54a6b3 Color2(lyrics) - ad325f Color 3(Else) */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #d9effc;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .karaoke-box-logo {
    height: 23px;
  }
  
  .search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
  }

  .search-input {
    width: 90%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #ad325f;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .search-btn {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #ad325f;
    background-color: #54a6b3;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
  }


  .search-btn:hover {
    background-color: #ad325f;
  }
  
  video {
    margin: 5% auto;
    width: 100%;
    background: rgba(0,0,0,0.2);
  }
  
